html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style-type: none;
}
/* RESET */

.page {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.page__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.page__section,
.page__header,
.page__footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__section {
  background-color: #fff;
}

.page__layout {
  width: 1200px;
  height: 100%;
}

.page__layout--full {
  width: 100%;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}
/* */
/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* Bartek style start */
.page__section .page__section_heade {
  margin-bottom: 10em;
  text-align: center;
}
.page__section .page__section_heade p {
  font-size: 1.4em;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
.page__section .page__section_heade h2 {
  font-size: 2.2em;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
.page__section .page__section_about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70vh;
}
.page__section .page__section_about .page__section_about_text {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  align-content: flex-start;
}
.page__section .page__section_about .page__section_about_text h3 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 2em;
}
.page__section .page__section_about .page__section_about_text h4 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}
.page__section .page__section_about .page__section_about_text h3,
h4 {
  display: flex;
}
.page__section .page__section_about .page__section_about_text p {
  display: flex;
  align-content: flex-start;
  letter-spacing: 1px;
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
}
.page__section .page__section_about .page__section_about_img_bacground {
  background-image: url("./img/photo-1511367667796-a88d106800b0.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  -webkit-box-shadow: -49px 41px 144px -50px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -49px 41px 144px -50px rgba(0, 0, 0, 0.75);
  box-shadow: -49px 41px 144px -50px rgba(0, 0, 0, 0.75);
}
.page__section .page__section_about_button a {
  text-decoration: none;
  color: #a424ce;
  display: flex;
  align-content: flex-start;
  font-weight: 100;
  font-size: 1em;
  margin-top: 4em;
}
.page__section_about_img_bacground_testimonial {
  background-color: #00ffff;
  display: flex;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 55%;
  left: 48%;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.page__section_about_img_bacground_testimonial i {
  color: #fff;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}
.page__section .page__section_about_img_bacground .color_gradient {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 10%;
  background: linear-gradient(
    to right,
    #7074c9,
    #6b70c4,
    #676dbf,
    #6269ba,
    #5e66b5
  );
  z-index: -1;
}
.color_gradient h1 {
  margin: 0;
  padding: 0;
  opacity: 0;
}
/* Bartek style end */
